body
{
    margin: 0px;
}

header
{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 22vw;
}

.HeaderTop
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 25px;
    }

.HeaderBottom
{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

a
{
    font-size: calc(0.09rem + 2vw);
    color: #ffffff;
    font-family: 'Abril FatFace', 'Playfair Display', 'Times New Roman', serif;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.SökBox
{
    display: flex;
    justify-self: left;
}

.SökSymbol
{
    max-height: 100%;
    object-fit: contain;
}

.VisaSökKnapp
{
    display: flex;
    justify-content: center;
    background-color: #47474750;
    border: solid #47474750;
    max-height: 4vw;
    max-width: 4vw;
}

.Sökfält
{
    display: none;
}

.Sökfält.active
{
    display: block;
    max-width: 13vw;
    min-width: 13vw;
    min-height: 4vw;
    border-radius: 0px;
    outline: none;
    border: none;
    font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
}

input::placeholder 
{
    padding: 0.5px;
    color: black;
    font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
}

    .SökKnapp
{
    display: none;
}

.SökKnapp.active

.SökKnappText
{ 
    font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
}

.Logga
{
    min-width: 40vw;
}

.Varukorg
{
    width: 24vw;
    background-color: black;
}

.VisaVarukorgKnapp
{  
    display: flex;
    justify-self: right;
    background-color: black;
    border: solid black;
}

.VarukorgBild
{
    max-height: auto;
    max-width: 40px;
}

.DropdownVarukorg
{
    display: none;
}

#VarukorgLista
{   
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

section
{
    display: flex;
    background-color: grey;
    justify-content: center;
}

.ProduktBilder
{
    border: solid black 1px;
}

.ProduktInfo
{
    text-align: center;
    background-color: #E8E8E8;
    border: solid black 1px;
}

.LäggIVarukorg
{
    background-color: lightgreen;
    border: solid black 1px;
}

@media screen and (min-width: 1024px)
{

    .DropdownVarukorg.active
    {
        display: block;
        position: absolute;
        background-color: #474747;
        border: solid black;
        width: 24vw;
    }

    main
    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    max-width: 90vw;
    column-gap: 50px;
    background-color: #ffffff; 
    border: solid black; 
    justify-items: center;
    row-gap: 15px;
    }

    .ProduktBox
    {   
    display: flex;
    max-width: 25vw;
    flex-direction: column;
    border: solid black 1px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    a
    {
        font-size: calc(0.09rem + 2vw);
        color: #ffffff;
        font-family: 'Abril FatFace', 'Playfair Display', 'Times New Roman', serif;
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
    }

    .DropdownVarukorg.active
    {
        display: block;
        position: absolute;
        background-color: #474747;
        border: solid black;
        width: 24vw;
    }

    main
    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    max-width: 90vw;
    column-gap: 10px;
    background-color: #ffffff; 
    border: solid black; 
    justify-items: center;
    row-gap: 15px;
    }

    .ProduktBox
    {   
    display: flex;
    max-width: 40vw;
    flex-direction: column;
    border: solid black 1px;
    }
}

@media screen and (max-width: 767px)
{

    .HeaderBottom
{
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

    a
    {
        font-size: calc(0.09rem + 1.5vw);
        color: #ffffff;
        font-family: 'Abril FatFace', 'Playfair Display', 'Times New Roman', serif;
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
    }   

    main
    {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    max-width: 60vw;
    column-gap: 10px;
    background-color: #ffffff; 
    border: solid black; 
    justify-items: center;
    row-gap: 15px;
    }

    .ProduktBox
    {   
    display: flex;
    max-width: 50vw;
    flex-direction: column;
    border: solid black 1px;
    }    
}