body
{
    margin: 0px;
}
Header
{
    background-color: black;
    display: flex;
    flex-direction: column;
}

a
{
    font-family: 'Abril FatFace', 'Playfair Display', 'Times New Roman', serif;
    text-decoration: none;
}

h2
    {
    color: #ffffff;
    font-size: calc(1rem + 1vw);
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    }

@media screen and (min-width: 1024px)
{
    .HeaderTop
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin: 25px;
    }

    .HeaderBottom
    {
        display: flex;
        justify-content: center;
    }

    .SökBox
    {
        display: flex;
        justify-self: left;
    }

    .VisaSökKnapp
    {
        display: flex;
        justify-content: center;
        background-color: #47474747;
        border: solid #47474747;
        max-height: 4vw;
        max-width: 4vw;
        
    }

    .SökSymbol
    {
        max-height: 100%;
        object-fit: contain;
    }

    .Sökfält
    {
        max-width: 13vw;
        min-width: 13vw;
        min-height: 4vw;
        border-radius: 0px;
        outline: none;
        border: none;
        font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
    }

    input::placeholder 
    {
        padding: 0.5px;
        color: black;
        font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
    }

    .SökKnapp
    {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 4vw;
        min-width: 4vw;
        background-color: #47474747;
        border: solid #47474747;
        border-radius: 0px;
        color: #ffffff;
    }

    .SökKnappText
    { 
        font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
    }

    .Logga
    {
        min-width: 40vw;
    }

    .Varukorg
    {
        justify-self: right;
    }

    .VisaVarukorgKnapp
    {
    border: solid black;
    background-color: black;
    }

    .VarukorgBild
    {
    max-height: auto;
    max-width: 40px;
    }

    section
    {
    display: flex;
    background-color: grey;
    justify-content: center;
    }

    main
    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    max-width: 90vw;
    column-gap: 50px;
    background-color: #ffffff; 
    border: solid black; 
    justify-items: center;
    row-gap: 15px;
    }

    .ProduktBox
    {   
    display: flex;
    max-width: 25vw;
    flex-direction: column;
    border: solid black 1px;
    }

    .ProduktBilder
    {
    border: solid black 1px;
    }

    .ProduktInfo
    {
    text-align: center;
    background-color: #E8E8E8;
    border: solid black 1px;
    }

    .LäggIVarukorg
    {
    background-color: lightgreen;
    border: solid black 1px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    .HeaderTop
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin: 25px;
    }

    .HeaderBottom
    {
        display: flex;
        justify-content: center;
    }

    .SökBox
    {
        display: flex;
        justify-self: left;
    }

    .VisaSökKnapp
    {
        display: flex;
        justify-content: center;
        background-color: #47474747;
        border: solid #47474747;
        max-height: 4vw;
        max-width: 4vw;
        
    }

    .SökSymbol
    {
        max-height: 100%;
        object-fit: contain;

    }

    .Sökfält
    {
        max-width: 13vw;
        min-width: 13vw;
        min-height: 4vw;
        border-radius: 0px;
        outline: none;
        border: none;
        font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
    }

    input::placeholder 
    {
        padding: 0.5px;
        color: black;
        font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
    }

    .SökKnapp
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 4vw;
        max-height: 4vw;
        background-color: #47474747;
        border: solid #47474747;
        border-radius: 0px;
        color: #ffffff;
    }

    .SökKnappText
    {
        max-height: 100%;
        font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
    }

    .Logga
    {
        min-width: 40vw;
    }

    .Varukorg
    {
        justify-self: right;
    }

    .VisaVarukorgKnapp
    {
    max-height: auto;
    max-width: 40px;
    border: solid black;
    background-color: black;
    }

    .VarukorgBild
    {
    max-height: auto;
    max-width: 40px;
    }

    section
    {
    display: flex;
    background-color: grey;
    justify-content: center;
    }

    main
    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    max-width: 90vw;
    column-gap: 10px;
    background-color: #ffffff; 
    border: solid black; 
    justify-items: center;
    row-gap: 15px;
    }

    .ProduktBox
    {   
    display: flex;
    max-width: 40vw;
    flex-direction: column;
    border: solid black 1px;
    }

    .ProduktBilder
    {
    border: solid black 1px;
    }

    .ProduktInfo
    {
    text-align: center;
    background-color: #E8E8E8;
    border: solid black 1px;
    }

    .LäggIVarukorg
    {
    background-color: lightgreen;
    border: solid black 1px;
    }
    
}

@media screen and (max-width: 767px)
{

    .HeaderTop
    {
        align-items: center;
        margin: 25px;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .HeaderBottom
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .SökBox
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 20vw;
    }

    .VisaSökKnapp
    {
        display: flex;
        justify-content: center;
        background-color: #47474747;
        border: solid #47474747;
        max-height: 4vw;
        max-width: 4vw;
        
    }

    .SökSymbol
    {
        max-height: 100%;
        object-fit: contain;

    }

    .Sökfält
    {
        min-height: 4vw;
        max-width: 10vw;
        border-radius: 0px;
        outline: none;
        border: none;
        font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
    }

    input::placeholder 
    {
        padding: 0.5px;
        max-width: 10vw;
        color: black;
        font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
    }

    .SökKnapp
    {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 5vw;
        max-width: 5vw;
        background-color: #47474747;
        border: solid #47474747;
        border-radius: 0px;
        color: #ffffff;
    }

    .SökKnappText
    {
        max-height: 100%;
        font-family: 'GFS Didot', 'Bodoni MT', 'Georgia', serif;
    }

    .Logga
    {
        max-width: 40vw;
    }

    .Varukorg
    {
    display: flex;
    align-items: center;
    justify-content: right;
    max-width: 20vw;
    }

    .VisaVarukorgKnapp
    {
    max-height: auto;
    max-width: 20vw;
    display: flex;
    justify-content: center;
    border: solid black;
    background-color: black;
    }

    .VarukorgBild
    {
    max-height: auto;
    max-width: 40px;
    }

    section
    {
    display: flex;
    background-color: grey;
    justify-content: center;
    }

    main
    {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    max-width: 90vw;
    column-gap: 10px;
    background-color: #ffffff; 
    border: solid black; 
    justify-items: center;
    row-gap: 15px;
    }

    .ProduktBox
    {   
    display: flex;
    max-width: 70vw;
    flex-direction: column;
    border: solid black 1px;
    }

    .ProduktBilder
    {
    border: solid black 1px;
    }

    .ProduktInfo
    {
    text-align: center;
    background-color: #E8E8E8;
    border: solid black 1px;
    }

    .LäggIVarukorg
    {
    background-color: lightgreen;
    border: solid black 1px;
    }
    
}